<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- setter注入-->
    <bean id="user" class="com.example.domain.User">
        <property name="name" value="张三"/>
        <property name="age" value="20"/>
    </bean>

    <!-- 构造器注入-->
    <bean id="argUser" class="com.example.domain.User">
        <constructor-arg name="name" value="李四"/>
        <constructor-arg name="age" value="18"/>
    </bean>
</beans>